*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}


body {
    height: 100%;
    /* background-image: url("../images/subject-quiz.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    color: #18396E;

}


h1 {
    font-family: 'Rampart One', cursive;
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: 80rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 

} 


.comtainer > * {
    width: 100%;
}

.container-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: 80rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   /* border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* Buttons */
.btn {
    font-size: 1.6rem;
    width: 20rem;
    padding: 1rem 0;
    color: #1982C4;
    text-align: center;
    border: 0.1rem solid #18396E;
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    background-color: #a8dadc;
   
  
}


.btn:active,
.btn:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #a2d2ff;
}


.btn--check {
    margin-top: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--check:active,
.btn--check:hover {
    background-color: #0d1013;
}


.quiz-score {
    font-size: 1.3rem;
    margin: 2rem;
    font-weight: bold;
    color: #18396E;
    border: 2px solid #1982C4;
}

.quiz-question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.quiz-question .category {
    color: white;
}
.quiz-answers {
font-size: 1.6rem;
  list-style-type: none;
  margin: 1rem 0; 
 }

.quiz-answers li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0; 
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid #1982C4;
    background-color: #1982C4;
    color: white;
}

.quiz-answers li:active,
.quiz-answers li:hover {
    background-color: #A0CCE7;
    color: white;
}

#result {
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

#result i{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    line-height: 30px;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.hidden {
    display: none;
} 
.show {
    display: block;
}

.selected{
    background-color: #1982C4;
    color: #a2d2ff ;
    border-color: #A0CCE7;
    box-shadow: 0 4px 0 0 #bbbbbb!important;
}

.quiz-foot a{
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;    
    text-transform: uppercase;
    cursor: pointer;
    background-color: grey;
    color:#bbbbbb;
    letter-spacing: 2px;
    box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-foot button:hover{
    background-color: #e6e6e6;
    box-shadow: 0 4px 0 0 #a7a7a7;
}
.quiz-foot button:active{
    transform: scale(0.95);
}
/* --------- Media queries */

@media (max-width: 678px) {

    /* h1 {
       font-size: 2.1rem;
    } */

    .comtainer {
        width: 100%;
        text-align: center;
    }
    
    .quiz-foot a {
        font-size: 1rem;
    }
}

